body{
    font-family:"Roboto",sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

ul{
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
    margin-top: 0;
}
img{
    display: block;
}
.menu-link.current{
    color: #404bbf;
}
.logo{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
margin-right: 76px;
padding: auto;
display: inline-block;

/* line-height: 21px; */ 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-studio{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
.nav-list{
    display: flex;
    gap: 40px;
}
.page-nav{
    display: flex;
    align-items: center; 
}
.menu-link{
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    
    /* line-height: 24px; */ 
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 
}
.menu-link.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color:#404bbf;
}
.menu-link.current{
    position: relative;
}
.menu-link:hover,.menu-link:focus{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #404bbf;
}
.address-title{
    display: flex;
    gap: 40px;
}
.addressa{
    display: flex;
    justify-content: flex-end;
    font-style: normal;
}
.menu-li{
    padding: 24px 0;
}
.adres{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px; 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adres:hover,.adres:focus{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #404bbf;
}
.title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    
    /* line-height: 60px; */ 
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: auto;
}
.title-class{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
margin-right: auto;
margin-left: auto;
padding: auto;
margin-bottom: 72px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;

}
.page-header{
    position: sticky;
    top:0;
    background: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    z-index: 999;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.title-main{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.page-title{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}
.title-img-ul{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
margin-bottom: 8px;
/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}
.page-ul{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.img-title{
    display: flex;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;

/* line-height: 24px; */ 
line-height: 120%;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
margin-bottom: 8px;
}
.page-img{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
}
.page-footer{
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;
}
.title-img-section{
    font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
margin-bottom: 72px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}
.section-uno{
    display: flex;
    flex-direction: column;
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
    margin: auto;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}  
.button-section-uno{
    display: block;
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
background-color: #4D5AE5;
border: none;
border-radius: 4px;
padding: 16px 32px;
padding: auto;
margin: auto;
margin-top: 48px;
height: 56px;
min-width: 169px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-section-uno:hover,.button-section-uno:focus{
    background-color: #404BBF;
}
.footer-backgraud{
    padding: 100px 0;
    background-color: #2e2f42;
}
.logo-studio-duos{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;

/* line-height: 21px; */ 
line-height: 1.5;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-tres{
    margin: auto;
    background-color: #F4F4FD;
    padding: 120px 0;
}
.il-uno{
    width: calc((100% - 72px) / 4);
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
margin-left: auto;
margin-right: auto;
    background-color: #FFFFFF;
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.ul-section-duos{
    display: flex;
    gap: 24px;
}
.feature{
    width: calc((100% - 72px) / 4); 
}
.flex-li{
    display: flex; 
    gap: 24px;
}
.flex-image{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
    padding-right: 0;
}
.section-duos{
    padding: 120px 0;
}
.section-quatro{
    padding-top: 120px;
    padding-bottom: 120px;
}
.img-container{
    padding: 32px 0;
    border-radius: 0 0 4px 4px;
}
.li-image{
    position: relative;
    overflow: hidden;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-img{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-right: auto;
    margin-left: auto;
}
.container-header{
    display: flex;
    justify-content: space-between;
}
.logo-duos{
    margin-bottom: 16px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;  
    background-color: #f4f4fd;
    margin-bottom: 8px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    overflow: auto; 
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-image:hover
.overlay{
    transform: translateY(0%);
}
.li-image:hover{
    box-shadow: 
    1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-div-min{
    position: relative;
    overflow: hidden;
}
.ul-svg{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.li-svg{
    width: 40px;
    height: 40px;
}
.adres-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adres-svg:hover,
.adres-svg:focus{
    background-color: #404bbf;; 
}
.icon-adres{
    fill: #f4f4fd;
}

.container-flex{
display: flex;
display: table-column;
align-items: baseline;
margin-right: 120px;
}
.li-svg-footer{
    width: 40px;
    height: 40px;
}
.page-footer-adres{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}
.ul-svg-footer{
    display: flex;
    gap: 16px;
}
.container-footer-address{
    display: flex;
    display: table-column;
}
.adres-svg-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-wrapper{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.adres-svg-footer:hover,
.adres-svg-footer:focus{
    background-color: #31d0aa;
}
.icon-footer{
    fill:  #f4f4fd;
}
.page-subscribe{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}
.subscribe{
    margin-left: auto;
}
.input-footer{
    color: #fff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.button-footer{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
    border-radius: 4px;
padding: 8px 24px;
width: 165px;
height: 40px;
background: #4d5ae5;
border: none;
}
.button-label{
    margin-left: 24px;
}
.label-footer{
    display: flex;
    gap: 24px;

}
/*=======================modal*/
.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal{
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    margin-bottom: 8px;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
padding: 72px 24px 24px 24px;
transform: translate(-50%, -50%);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-p{
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}
.input-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 40px;
padding-left: 38px;
outline: transparent;
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus{
    border-color: #4D5AE5;
}
.label-modal{
    display: block;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    color:#8e8f99;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.legend-modal{
    justify-content: center;
    align-items: center;
}
.button-label-modal{
    display: block;
    border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
min-width: 169px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
border: 0;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
}
.span-modal{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 133%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.button-label-modal-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    position: absolute;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.button-label-modal-svg:hover,
.button-label-modal-svg:focus{
    border: none;
    background-color: #404bbf;
}
.button-label-modal-svg:hover,
.button-label-modal-svg:focus .svg-modal{
    fill: #ffffff;
}
.svg-modal{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-modal:hover,
.svg-modal:focus{
    fill: #ffffff;
}
.div-modal{
    margin-bottom: 8px;
}
.item-label{
    position: relative;
}
.svg-modal-label{
position: absolute;
top:50%;
left: 16px;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-input{
    position: relative;
}
.modal-text{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus +
.svg-modal-label{
    fill: #4D5AE5;
}
.modal-text:focus{
    border-color: #4D5AE5;
}
.check-box{
    margin-bottom: 24px;
}
.label-checkbox{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.check-box-div{
    margin-bottom: 24px;
}
.input-check:checked + .label-checkbox > .span-modal{
    background-color: #404bbf;
    border: none;
    fill:#F4F4FD; 
}
.adres-modal{
    color:#4d5ae5;
}
.input-check{

}
.adres-svg-modal{
    color:#4d5ae5;
}















